* {
  margin: 0;
}

#gameBoardCenterContainer {
  position: relative;
  aspect-ratio: 1;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 1rem;

  

  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
}

/* Main Card Container */
#cardDetailsContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  border: 1px solid rgba(255,255,255,.75);
  border-radius: .5rem;



  padding: .5rem; 
  width: 20rem;
  height: 100%;

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  gap: .33rem;
}

.cardValueContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  width: 90%;
  border-radius: .5rem;
  }

.cardValueLabel {
  font-size: 1.3rem;
  letter-spacing: 1px;
}

.cardValueContent {
  font-size: 1.4rem;
  letter-spacing: 1px;
}

#cardGroupContainer {
  width: 100%;
  height: 2rem;
  border-radius: .5rem;
}

#cardGroupValue {
  font-size: 1.3rem;
}

#cardGroupContainer, #cardNameContainer {
  justify-content: center;
}

#cardNameContainer {
  margin-bottom: 1rem;
}



#cardNameLabel {
  
}

#cardGroupValue,
#cardNameValue,
#cardCostValue,
#cardRentValue,
#cardHouseRent5Value,
#cardHouseCostValue,
#cardMortgageValue {
  font-weight: bold;
}

#cardNameValue {
  font-size: 2.5rem;
}

#cardDescriptionContainer {

}

#cardCostContainer {

}

#cardCostValue {
  color: lightcoral;
}

#cardRentContainer {

}

#cardRentLabel {

}

#cardRentValue {
  color: orange;
}

#cardFinePrintValue {
  font-size: 1rem;
}

#cardDetailsHouseRent {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: .25rem;
  width: 80%;
  padding: .5rem 1rem;

  border: solid 1px white;
  border-radius: .5rem;
}

.cardHouseRentContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.cardHouseRentContainer > .cardValueLabel {
  font-size: 1.2rem;
}

.cardHouseRentContainer > .cardValueContent {
  font-size: 1.3rem;
  color: orange;
}


#cardHouseRent5Value {
}

#cardMortgageValue {
  color: lightgreen;
}

#cardHouseCostValue {
  color: lightcoral;
}

#cardFinePrintValue {
  font-size: .9rem;
  text-align: center;
  margin-top: 1rem;
}

