p {
  margin: 0;
}

#menuContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: min(96vw, 30rem);
  margin-top: 4rem;
  padding: 3rem;

  gap: 2rem;
  border: 1px solid black;
  border-radius: 1rem;

  background-color: rgba(50,50,200,.6)
}

.startMenuOptionContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 4rem;
  background-color: rgba(33,33,33,.9);

  gap: 2rem;
  border: 1px solid white;
  box-shadow: 0 0 .5rem white;
  border-radius: 1rem;
  transition: transform 200ms;
}

.greyedOption {

}

.startMenuOptionContainer:hover:not(#startMenuTitleContainer){
  transform: scale(1.05);
  cursor: pointer;
}

#startMenuTitleContainer {
  height: 5rem;
  background-image: linear-gradient(
    0deg,
    rgba(50,50,200,.9), 
    rgba(200,200,255,.9)
    );
}

#startMenuTitleText {
  font-size: 3rem;
  font-weight: bold;
  color: white;
}

#startMenuTitleImage {

}

.startMenuOptionText {
  font-size: 2rem;
  font-weight: bold;
  color: white;
}