:root {
  /* --variable-name: value; */
  --white-smoke:      243, 243, 243;
  --charcoal:         51, 51, 51;
  --magenta:          144, 0, 144;
  --deep-purple:      67, 0, 101;
}

body {
  font-family: 'Ubuntu', sans-serif;
  background-color: rgb(var(--white-smoke));
  color: rgb(var(--charcoal));
  box-sizing: border-box;
  margin: 0;
  height: 100%;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

  /*            */
 /* ANIMATIONS */
/*           */
@keyframes spinning {
  from {
      transform: rotate(0);
  }

  to {
      transform: rotate(360deg);
  }
}

@keyframes fadeIn {
  from {
      opacity: 0;
  }

  to {
      opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
}

to {
    opacity: 0;
}
}

@keyframes grow {
  from {
      transform: scale(1);
  }

  to {
      transform: scale(1.1);
  }
}

  /*               */
 /* STYLE CLASSES */
/*               */

.fadeIn {
  animation: fadeIn 1s forwards;
}

.fadeOut {
  animation: fadeOut 1s forwards;
}

.spinning {
  animation: spinning 1s infinite;
}

.flexRow {
  display: flex;
  flex-wrap: wrap;
}

.flexColumn {
  display: flex;
  flex-direction: column;
}

.centered {
  align-items: center;
  justify-content: center;
}

.left {
  align-items: flex-start;
  justify-content: flex-start;
}

.right {
  align-items: flex-end;
  justify-content: flex-end;
}

.spacedEvenly {
  justify-content: space-evenly;
}

.spacedApart {
  justify-content: space-between;
}

.softBorder {
  border-style: solid;
  border-width: 2px;
  border-radius: 12px;
  padding: 1rem;
}

.hidden {
  display: none;
}

  /*                */
 /* MAIN CONTAINER */
/*                */
#mainContainer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('./components/HOTSBackground.jpg'),
  linear-gradient(
    rgba(33,33,33,.6),
    rgba(33,33,33,.6)
    );    
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

/* Navigation Bar */
#navContainer {
  display: flex;
  width: 94%;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;

  padding: 1rem 3%;
}

#siteTitle {
  display: flex;
  align-items: center;
  gap: 1rem;
}

#siteName {
  font-size: 1.5rem;
  font-weight: bold;
}

#siteName:hover {
  cursor: pointer;
}

#siteLogo {
  border-radius: 50%;
}

#menuBar {
  gap: 2rem;
  align-items: center;
}

.menuItem {
  font-size: 1rem;
  font-weight: bold;
}

#menuIcon {
  z-index: 5000;
  height: 3rem;
  width: 3rem;
}

#scrollToTopButton {

}

#scrollToTopButton:hover:not(.fadeOut) {
  cursor: pointer;
}

  /*        */
 /* FOOTER */
/*        */

footer {
  padding: 3rem 0 1rem 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
